@model Agience.Authority.Manage.Models.ModalPopupViewModel

<div id="divModalPopupContainer">
 <div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-labelledby="@Model.TilleId" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header w-100 p-2">
                <div class="row w-100 mt-0 ms-1">
                    <div class="col-10 text-start p-0">
                        <h5 class="modal-title flex-grow-1" id="@Model.TilleId">@Model.Title</h5>
                    </div>
                    <div class="col-2">
                        <div class="text-end">
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="modal-body w-50">
                @Html.Raw(Model.BodyContent)
            </div>
            @if (!string.IsNullOrEmpty(Model.FooterContent))
            {
                <div class="modal-footer">
                    @Html.Raw(Model.FooterContent)
                </div>
            }
        </div>
    </div>
</div> 
</div>