@page
@using System.Text.Json

@model Agience.Authority.Manage.Pages.AuthorizerModel
@{
    ViewBag.Title = "Agience - My Authorizers";
}

@{
    string authorizersJson = JsonSerializer.Serialize(Model.Authorizers);
}

<form method="post">
    <input type="hidden" name="authorizersJson" value="@authorizersJson" />
    <input type="hidden" name="activeTab" id="activeTab" value="@TempData["ActiveTab"]" />
    <input type="hidden" name="activePage" id="activePage" value="@TempData["ActivePage"]" />
    <div class="tab-container">
        <div class="tab-container-header w-100">
            <div class="tab-container-name">Authorizers</div>
            <div class="tab-header-item" id="tab-header-item-details"><button>Details</button></div>
        </div>
        <div class="tab-container-content w-100">
            <div class="left-column">
                <ul>
                    @foreach (var authorizer in Model.Authorizers)
                    {
                        <li class="tab-page-item" id="tab-page-item-@authorizer.Id">
                            <button>@(authorizer.Id == "new" ? '+' : authorizer.Name)</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="right-column">
                @foreach (var authorizer in Model.Authorizers)
                {
                    @if (TempData["ActivePage"]?.ToString() == authorizer.Id)
                    {
                        <div class="tab-page" id="tab-page-@authorizer.Id">
                            @if (TempData["ActiveTab"]?.ToString() == "details")
                            {
                                <input type="hidden" asp-for="@authorizer.Id" />
                                <div class="tab-content" id="tab-content-details">
                                    <div class="tab-page-content">
                                        <div class="col-12 col-md-6 col-lg-4 mx-auto">
                                            <div class="container-fluid">
                                                <div class="card m-auto">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Name:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <input asp-for="@authorizer.Name" class="form-control" placeholder="@(authorizer.Id == "new" ? "New Authorizer Name" : null)" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Authorization Type:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <select asp-for="@authorizer.AuthType" class="form-select mb-3">
                                                                    <option value="None">None</option>
                                                                    <option value="OAuth2">OAuth2</option>
                                                                    <option value="ApiKey">API Key</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        @if (authorizer.AuthType == Core.Models.Entities.AuthorizationType.OAuth2)
                                                        {
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    Client Id:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input asp-for="@authorizer.ClientId" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    Client Secret:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input asp-for="@authorizer.ClientSecret" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    Scope:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input asp-for="@authorizer.Scope" class="form-control" />
                                                                </div>
                                                            </div>
                                                            @if (authorizer.Id != "new")
                                                            {
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        Redirect URI:
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input class="form-control" disabled value="@($"{Model.AuthorityUri}{authorizer.RedirectUri}")" />
                                                                    </div>
                                                                </div>
                                                            }

                                                            <div class="row">
                                                                <div class="col-12">
                                                                    Token URI:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input asp-for="@authorizer.TokenUri" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    Auth URI:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <input asp-for="@authorizer.AuthUri" class="form-control" />
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Visibility:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <select asp-for="@authorizer.Visibility" class="form-select mb-3">
                                                                    <option value="private">Private</option>
                                                                    <option value="public" disabled>Public</option>                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-center">
                                                                <button type="submit" class="btn btn-primary" asp-page-handler="AuthorizerSave"><i class="bi bi-floppy-fill"></i> Save</button>
                                                                <button type="submit" class="btn btn-primary border-0 bg-danger text-white" asp-page-handler="AuthorizerDelete" disabled="@(authorizer.Id == "new")"><i class="fa-solid fa-trash"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var pageItems = @Html.Raw(Json.Serialize(Model.Authorizers));

            pageItems.forEach(function (pageItem) {
                var itemButton = document.querySelector('#tab-page-item-' + pageItem.id + ' button');
                if (itemButton) {
                    itemButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('activePage').value = pageItem.id;
                        makePageActive(pageItem.id);
                        DoPostback();
                    });
                }
            });

            let tabItems = ["details"];

            tabItems.forEach(function (itemName) {
                document.querySelector('#tab-header-item-' + itemName + ' button').addEventListener('click', function (event) {
                    event.preventDefault();
                    document.getElementById('activeTab').value = itemName;
                    makeTabActive(itemName);
                    DoPostback();
                });
            });

            makeTabActive(document.getElementById('activeTab').value);
            makePageActive(document.getElementById('activePage').value);

        });

        function makeActive(selector, id) {
            document.querySelectorAll(selector).forEach(function (item) {
                if (item.id === id) {
                    item.classList.add("active");
                }
                else {
                    item.classList.remove("active");
                }
            });
        }

        function makePageActive(pageId) {
            makeActive(".tab-page-item", "tab-page-item-" + pageId);
        }

        function makeTabActive(itemName) {
            makeActive(".tab-header-item", "tab-header-item-" + itemName);
        }

        function DoPostback() {
            const form = document.forms[0];
            const formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => response.text()).then(html => {
                document.querySelector('.right-column').innerHTML =
                    new DOMParser().parseFromString(html, 'text/html')
                        .querySelector('.right-column').innerHTML;
            }).catch(error => console.error('Error:', error));
        }
    </script>
}