@page
@using System.Text.Json

@model Agience.Authority.Manage.Pages.PluginsModel
@{
    ViewBag.Title = "Agience - My Plugins";
}

@{
    string pluginsJson = JsonSerializer.Serialize(Model.Plugins);
}

<form method="post">
    <input type="hidden" name="pluginsJson" value="@pluginsJson" />
    <input type="hidden" name="activeTab" id="activeTab" value="@TempData["ActiveTab"]" />
    <input type="hidden" name="activePage" id="activePage" value="@TempData["ActivePage"]" />
    <div class="tab-container">
        <div class="tab-container-header w-100">
            <div class="tab-container-name">Plugins</div>
            <div class="tab-header-item" id="tab-header-item-details"><button>Details</button></div>
            <div class="tab-header-item" id="tab-header-item-functions"><button>Functions</button></div>
            <div class="tab-header-item" id="tab-header-item-connections"><button>Connections</button></div>
        </div>
        <div class="tab-container-content w-100">
            <div class="left-column">
                <ul>
                    @foreach (var plugin in Model.Plugins)
                    {
                        <li class="tab-page-item" id="tab-page-item-@plugin.Id">
                            <button>@(plugin.Id == "new" ? '+' : plugin.Name)</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="right-column">
                @foreach (var plugin in Model.Plugins)
                {
                    @if (TempData["ActivePage"]?.ToString() == plugin.Id)
                    {
                        <div class="tab-page" id="tab-page-@plugin.Id">
                            @if (TempData["ActiveTab"]?.ToString() == "details")
                            {
                                <input type="hidden" asp-for="@plugin.Id" />
                                <div class="tab-content" id="tab-content-details">
                                    <div class="tab-page-content">
                                        <div class="col-12 col-md-6 col-lg-4 mx-auto">
                                            <div class="container-fluid">
                                                <div class="card m-auto">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Name:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <input asp-for="@plugin.Name" class="form-control" placeholder="@(plugin.Id == "new" ? "New Plugin Name" : null)" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Type:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <select asp-for="@plugin.Type" class="form-select">
                                                                    <option value="curated">Curated</option>
                                                                    <option value="compiled">Compiled</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Visibility:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <select asp-for="@plugin.Visibility" class="form-select">
                                                                    <option value="private">Private</option>
                                                                    <option value="public" disabled>Public</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                Description:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <textarea asp-for="@plugin.Description" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center">
                                                            <div class="col-12">
                                                                <button type="submit" class="btn btn-primary" asp-page-handler="PluginSave"><i class="bi bi-floppy-fill"></i> Save</button>
                                                                <button type="submit" class="btn btn-primary border-0 bg-danger text-white" asp-page-handler="PluginDelete" disabled="@(plugin.Id == "new")"><i class="fa-solid fa-trash"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData["ActiveTab"]?.ToString() == "functions")
                            {
                                @if (plugin.Type.ToString().ToLower() == "curated")
                                {
                                    <div class="tab-content" id="tab-content-functions">
                                        <div class="tab-page-content">
                                            <div class="tab-page-content-header">
                                                <div class="tab-page-content-header-cell">Name</div>
                                                <div class="tab-page-content-header-cell">Description</div>
                                                <div class="tab-page-content-header-cell">Prompt</div>
                                                <div class="tab-page-content-header-cell-action">&nbsp;</div>
                                            </div>
                                            <ul class="tab-page-content-list">
                                                @for (int i = 0; i < plugin.Functions.Count; i++)
                                                {
                                                    <input type="hidden" asp-for="@plugin.Functions[i].Id" />
                                                    <input type="hidden" asp-for="@plugin.Id" />
                                                    <li class="tab-page-content-list-item">
                                                        <div class="tab-page-content-list-item-cell">
                                                            <input asp-for="@plugin.Functions[i].Name" class="form-control" placeholder="@(plugin.Functions[i].Id == "new" ? "New Function Name" : null)" />
                                                        </div>
                                                        <div class="tab-page-content-list-item-cell">
                                                            <input asp-for="@plugin.Functions[i].Description" class="form-control" />
                                                        </div>
                                                        <div class="tab-page-content-list-item-cell">
                                                            <textarea asp-for="@plugin.Functions[i].Prompt" class="form-control" rows="6"></textarea>
                                                        </div>
                                                        <div class="tab-page-content-list-item-action">
                                                            <button class="btn btn-primary" asp-page-handler="FunctionSave" asp-route-idx="@i">Save</button>
                                                            <button class="btn btn-primary" asp-page-handler="FunctionDelete" asp-route-idx="@i" disabled="@(plugin.Functions[i].Id == "new")">Delete</button>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                                @if (plugin.Type.ToString().ToLower() == "compiled")
                                {
                                    <div><p>Functions are not currently visible for compiled plugins.</p></div>
                                }
                            }
                            @if (TempData["ActiveTab"]?.ToString() == "connections")
                            {
                                @if (plugin.Type.ToString().ToLower() == "curated")
                                {
                                    <div><p>Authentication is currently only supported for compiled plugins.</p></div>
                                }
                                @if (plugin.Type.ToString().ToLower() == "compiled")
                                {
                                    <div class="tab-content" id="tab-content-connections">
                                        <div class="tab-page-content">
                                            <div class="tab-page-content-header">
                                                <div class="tab-page-content-header-cell">Name</div>
                                                <div class="tab-page-content-header-cell">Description</div>
                                                <div class="tab-page-content-header-cell-action">&nbsp;</div>
                                            </div>
                                            <ul class="tab-page-content-list">
                                                @for (int i = 0; i < plugin.Connections.Count; i++)
                                                {
                                                    <input type="hidden" asp-for="@plugin.Connections[i].Id" />
                                                    <input type="hidden" asp-for="@plugin.Id" />
                                                    <li class="tab-page-content-list-item">
                                                        <div class="tab-page-content-list-item-cell">
                                                            <input asp-for="@plugin.Connections[i].Name" class="form-control" placeholder="@(plugin.Connections[i].Id == "new" ? "New Connection Name" : null)" />
                                                        </div>
                                                        <div class="tab-page-content-list-item-cell">                                                            
                                                            <input asp-for="@plugin.Connections[i].Description" class="form-control" />
                                                        </div>
                                                        <div class="tab-page-content-list-item-action">
                                                            <button class="btn btn-primary" asp-page-handler="ConnectionSave" asp-route-idx="@i">Save</button>
                                                            <button class="btn btn-primary" asp-page-handler="ConnectionDelete" asp-route-idx="@i" disabled="@(plugin.Connections[i].Id == "new")">Delete</button>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var pageItems = @Html.Raw(Json.Serialize(Model.Plugins));

            pageItems.forEach(function (pageItem) {
                var itemButton = document.querySelector('#tab-page-item-' + pageItem.id + ' button');
                if (itemButton) {
                    itemButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('activePage').value = pageItem.id;
                        makePageActive(pageItem.id);
                        DoPostback();
                    });
                }
            });

            let tabItems = ["details", "functions", "connections"];

            tabItems.forEach(function (itemName) {
                document.querySelector('#tab-header-item-' + itemName + ' button').addEventListener('click', function (event) {
                    event.preventDefault();
                    document.getElementById('activeTab').value = itemName;
                    makeTabActive(itemName);
                    DoPostback();
                });
            });

            makeTabActive(document.getElementById('activeTab').value);
            makePageActive(document.getElementById('activePage').value);

        });

        function acknowledgeCredentials() {
            $("#credentialsModal").modal('hide');
            TempData["HostCredentials"] = null;
        }

        function makeActive(selector, id) {
            document.querySelectorAll(selector).forEach(function (item) {
                if (item.id === id) {
                    item.classList.add("active");
                }
                else {
                    item.classList.remove("active");
                }
            });
        }

        function makePageActive(pageId) {
            makeActive(".tab-page-item", "tab-page-item-" + pageId);
        }

        function makeTabActive(itemName) {
            makeActive(".tab-header-item", "tab-header-item-" + itemName);
        }

        function DoPostback() {
            const form = document.forms[0];
            const formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => response.text()).then(html => {
                document.querySelector('.right-column').innerHTML =
                    new DOMParser().parseFromString(html, 'text/html')
                        .querySelector('.right-column').innerHTML;
            }).catch(error => console.error('Error:', error));
        }
    </script>
}