@page
@using System.Text.Json

@model Agience.Authority.Manage.Web.Pages.AgenciesModel
@{
    ViewBag.Title = "Agience - My Agencies";
}

@{
    string agenciesJson = JsonSerializer.Serialize(Model.Agencies);
}

<form method="post">
    <input type="hidden" name="agenciesJson" value="@agenciesJson" />
    <input type="hidden" name="activeTab" id="activeTab" value="@TempData["ActiveTab"]" />
    <input type="hidden" name="activePage" id="activePage" value="@TempData["ActivePage"]" />
    <div class="tab-container">
        <div class="tab-container-header w-100">
            <div class="tab-container-name">Agencies</div>
            <div class="tab-header-item" id="tab-header-item-details"><button>Details</button></div>        
            <div class="tab-header-item" id="tab-header-item-agents"><button>Agents</button></div>        
            <div class="tab-header-item" id="tab-header-item-hosts"><button>Hosts</button></div>
        </div>
        <div class="tab-container-content w-100">
            <div class="left-column">
                <ul>
                    @foreach (var agency in Model.Agencies)
                    {
                        <li class="tab-page-item" id="tab-page-item-@agency.Id">
                            <button>@(agency.Id == "new" ? '+' : agency.Name)</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="right-column">
                @foreach (var agency in Model.Agencies)
                {
                    @if (TempData["ActivePage"]?.ToString() == agency.Id)
                    {
                        <div class="tab-page" id="tab-page-@agency.Id">
                            @if (TempData["ActiveTab"]?.ToString() == "details")
                            {
                                <input type="hidden" asp-for="@agency.Id" />
                                <div class="tab-content" id="tab-content-details">
                                    <div class="tab-page-content">
                                        <div class="col-12 col-md-6 col-lg-4 mx-auto">
                                            <div class="card m-auto">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            Name:
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input asp-for="@agency.Name" class="form-control" placeholder="@(agency.Id == "new" ? "New Agency Name" : null)" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            Description:
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input asp-for="@agency.Description" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12" style="text-align:center;">
                                                            <button type="submit" class="btn btn-primary" asp-page-handler="AgencySave"><i class="bi bi-floppy-fill"></i> Save</button>
                                                            <button type="submit" class="btn btn-primary border-0 bg-danger text-white" asp-page-handler="AgencyDelete" disabled="@(agency.Id == "new")"><i class="fa-solid fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData["ActiveTab"]?.ToString() == "agents")
                            {
                                <div class="tab-content" id="tab-content-agents">
                                    <div class="tab-page-content">
                                        <div><p>To modify or associate your Agents, go to <a href="/Agents">My Agents</a></p></div>
                                        <div class="tab-page-content-header">
                                            <div class="tab-page-content-header-cell">Name</div>
                                            <div class="tab-page-content-header-cell">Description</div>
                                        </div>
                                        <ul class="tab-page-content-list">
                                            @for (int i = 0; i < agency.Agents.Count; i++)
                                            {   
                                                <li class="tab-page-content-list-item">
                                                    <div class="tab-page-content-list-item-cell">
                                                        <input asp-for="@agency.Agents[i].Name" class="form-control" disabled/>
                                                    </div>
                                                    <div class="tab-page-content-list-item-cell">
                                                        <input asp-for="@agency.Agents[i].Description" class="form-control" disabled />
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            @if (TempData["ActiveTab"]?.ToString() == "hosts")
                            {
                                <div class="tab-content" id="tab-content-agents">
                                    <div class="tab-page-content">
                                        <div><p>FUTURE: Agencies can authorize a collection of Hosts, while Agents can chose their own specific Host if needed. For now, it is the latter. See <a href="/Agents">My Agents</a></p></div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var pageItems = @Html.Raw(Json.Serialize(Model.Agencies));

            pageItems.forEach(function (pageItem) {
                var itemButton = document.querySelector('#tab-page-item-' + pageItem.id + ' button');
                if (itemButton) {
                    itemButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('activePage').value = pageItem.id;
                        makePageActive(pageItem.id);
                        DoPostback();
                    });
                }
            });

            let tabItems = ["details", "agents", "hosts"];

            tabItems.forEach(function (itemName) {
                document.querySelector('#tab-header-item-' + itemName + ' button').addEventListener('click', function (event) {
                    event.preventDefault();
                    document.getElementById('activeTab').value = itemName;
                    makeTabActive(itemName);
                    DoPostback();
                });
            });

            makeTabActive(document.getElementById('activeTab').value);
            makePageActive(document.getElementById('activePage').value);

        });

        function acknowledgeCredentials() {
            $("#credentialsModal").modal('hide');
            TempData["HostCredentials"] = null;
        }

        function makeActive(selector, id) {
            document.querySelectorAll(selector).forEach(function (item) {
                if (item.id === id) {
                    item.classList.add("active");
                }
                else {
                    item.classList.remove("active");
                }
            });
        }

        function makePageActive(pageId) {
            makeActive(".tab-page-item", "tab-page-item-" + pageId);
        }

        function makeTabActive(itemName) {
            makeActive(".tab-header-item", "tab-header-item-" + itemName);
        }

        function DoPostback() {
            const form = document.forms[0];
            const formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => response.text()).then(html => {
                document.querySelector('.right-column').innerHTML =
                    new DOMParser().parseFromString(html, 'text/html')
                        .querySelector('.right-column').innerHTML;
            }).catch(error => console.error('Error:', error));
        }

    </script>
}